[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
groq = "*"
streamlit = "*"
pytube = "*"
youtube-transcript-api = "*"
duckduckgo-search = "*"
serpapi = "*"
google-search-results = "*"
fuzzywuzzy = "*"
python-levenshtein = "*"
aiohttp = "*"
chardet = "*"
beautifulsoup4 = "*"
streamlit-audiorecorder = "*"
audiorecorder = "*"
pyaudio = "*"

[dev-packages]

[requires]
python_version = "3.10"
