[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.9.5"
aiosignal = "==1.3.1"
altair = "==5.3.0"
annotated-types = "==0.7.0"
anyio = "==4.4.0"
archspec = {file = "../../../../../../../../croot/archspec_1709217642129/work"}
argon2-cffi = {file = "../../../../../../../../opt/conda/conda-bld/argon2-cffi_1645000214183/work"}
argon2-cffi-bindings = {file = "../../../../../../../../work/ci_py311/argon2-cffi-bindings_1676823553406/work"}
asttokens = {file = "../../../../../../../../opt/conda/conda-bld/asttokens_1646925590279/work"}
async-lru = {file = "../../../../../../../../croot/async-lru_1699554519285/work"}
async-timeout = "==4.0.3"
attrs = "==23.2.0"
babel = {file = "../../../../../../../../work/ci_py311/babel_1676825020543/work"}
beautifulsoup4 = {file = "../../../../../../../../croot/beautifulsoup4-split_1718029820055/work"}
bleach = {file = "../../../../../../../../opt/conda/conda-bld/bleach_1641577558959/work"}
blinker = "==1.8.2"
boltons = {file = "../../../../../../../../work/ci_py311/boltons_1677685195580/work"}
bottleneck = {file = "../../../../../../../../croot/bottleneck_1707864210935/work"}
brotli = {file = "../../../../../../../../croot/brotli-split_1714483155106/work"}
cachetools = "==5.4.0"
catboost = {file = "https://pypi.org/packages/cp311/c/catboost/catboost-1.2.3-cp311-cp311-manylinux2014_x86_64.whl"}
certifi = {file = "../../../../../../../../croot/certifi_1720453481653/work/certifi"}
cffi = {file = "../../../../../../../../croot/cffi_1714483155441/work"}
chardet = "==5.2.0"
charset-normalizer = "==3.3.2"
click = "==8.1.7"
comm = {file = "../../../../../../../../croot/comm_1709322850197/work"}
conda = {file = "../../../../../../../../croot/conda_1715635703388/work"}
conda-content-trust = {file = "../../../../../../../../croot/conda-content-trust_1714483159009/work"}
conda-libmamba-solver = {file = "../../../../../../../../croot/conda-libmamba-solver_1721662679737/work/src"}
conda-package-handling = {file = "../../../../../../../../croot/conda-package-handling_1718138267740/work"}
conda-package-streaming = {file = "../../../../../../../../croot/conda-package-streaming_1718136078615/work"}
contourpy = {file = "../../../../../../../../croot/contourpy_1700583582875/work"}
cryptography = {file = "../../../../../../../../croot/cryptography_1714660666131/work"}
cycler = {file = "../../../../../../../../tmp/build/80754af9/cycler_1637851556182/work"}
debugpy = {file = "../../../../../../../../croot/debugpy_1690905042057/work"}
decorator = "==4.4.2"
defusedxml = {file = "../../../../../../../../tmp/build/80754af9/defusedxml_1615228127516/work"}
distro = {file = "../../../../../../../../croot/distro_1714488253808/work"}
duckduckgo-search = "==6.2.3"
elevenlabs = "==1.7.0"
exceptiongroup = "==1.2.2"
executing = {file = "../../../../../../../../opt/conda/conda-bld/executing_1646925071911/work"}
fastjsonschema = {file = "../../../../../../../../work/ci_py311_2/python-fastjsonschema_1679340124475/work"}
filelock = {file = "../../../../../../../../croot/filelock_1700591183607/work"}
fonttools = {file = "../../../../../../../../croot/fonttools_1713551344105/work"}
frozendict = {file = "../../../../../../../../croot/frozendict_1713194832637/work"}
frozenlist = "==1.4.1"
fuzzywuzzy = "==0.18.0"
gitdb = "==4.0.11"
gitpython = "==3.1.43"
google-search-results = "==2.4.2"
graphviz = {file = "../../../../../../../../work/ci_py311/python-graphviz_1676838665027/work"}
groq = "==0.9.0"
h11 = "==0.14.0"
httpcore = "==1.0.5"
httpx = "==0.27.0"
idna = {file = "../../../../../../../../croot/idna_1714398848350/work"}
imageio = "==2.34.2"
imageio-ffmpeg = "==0.5.1"
importlib-metadata = {file = "../../../../../../../../croot/importlib_metadata-suite_1704813515092/work"}
importlib-resources = {file = "../../../../../../../../croot/importlib_resources-suite_1720641103994/work"}
ipykernel = {file = "../../../../../../../../croot/ipykernel_1705933831282/work"}
ipython = {file = "../../../../../../../../croot/ipython_1718287989724/work"}
jedi = {file = "../../../../../../../../croot/jedi_1721058342488/work"}
jinja2 = {file = "../../../../../../../../croot/jinja2_1716993405101/work"}
joblib = {file = "../../../../../../../../croot/joblib_1718217211762/work"}
json5 = {file = "../../../../../../../../tmp/build/80754af9/json5_1624432770122/work"}
jsonpatch = {file = "../../../../../../../../croot/jsonpatch_1714483231291/work"}
jsonpointer = "==2.1"
jsonschema = "==4.23.0"
jsonschema-specifications = "==2023.12.1"
jupyter-events = {file = "../../../../../../../../croot/jupyter_events_1718738097486/work"}
jupyter-lsp = {file = "../../../../../../../../croot/jupyter-lsp-meta_1699978238815/work"}
jupyter-client = {file = "../../../../../../../../croot/jupyter_client_1699455897726/work"}
jupyter-core = {file = "../../../../../../../../croot/jupyter_core_1718818295206/work"}
jupyter-server = {file = "../../../../../../../../croot/jupyter_server_1718827083372/work"}
jupyter-server-terminals = {file = "../../../../../../../../croot/jupyter_server_terminals_1686870725608/work"}
jupyterlab = {file = "../../../../../../../../home/conda/feedstock_root/build_artifacts/jupyterlab_1685445186010/work"}
jupyterlab-pygments = {file = "../../../../../../../../tmp/build/80754af9/jupyterlab_pygments_1601490720602/work"}
jupyterlab-server = {file = "../../../../../../../../croot/jupyterlab_server_1699555425460/work"}
kiwisolver = {file = "../../../../../../../../work/ci_py311/kiwisolver_1676827230232/work"}
levenshtein = "==0.25.1"
libmambapy = {file = "../../../../../../../../croot/mamba-split_1714483352891/work/libmambapy"}
markdown-it-py = "==3.0.0"
markupsafe = "==2.1.5"
matplotlib = {file = "../../../../../../../../croot/matplotlib-suite_1713336378214/work"}
matplotlib-inline = {file = "../../../../../../../../work/ci_py311/matplotlib-inline_1676823841154/work"}
mdurl = "==0.1.2"
menuinst = {file = "../../../../../../../../croot/menuinst_1718132535249/work"}
mistune = {file = "../../../../../../../../work/ci_py311/mistune_1676823683049/work"}
mkl-fft = {file = "../../../../../../../../croot/mkl_fft_1695058164594/work"}
mkl-random = {file = "../../../../../../../../croot/mkl_random_1695059800811/work"}
mkl-service = "==2.4.0"
moviepy = "==1.0.3"
multidict = "==6.0.5"
mypy = "==1.11.2"
mypy-extensions = "==1.0.0"
nbclient = {file = "../../../../../../../../croot/nbclient_1698934205032/work"}
nbconvert = {file = "../../../../../../../../croot/nbconvert_1699022732553/work"}
nbformat = {file = "../../../../../../../../croot/nbformat_1694616755618/work"}
nest-asyncio = {file = "../../../../../../../../croot/nest-asyncio_1708532673751/work"}
notebook-shim = {file = "../../../../../../../../croot/notebook-shim_1699455894279/work"}
numexpr = {file = "../../../../../../../../croot/numexpr_1696515281613/work"}
numpy = "==2.0.1"
nvidia-ml-py = "==12.535.161"
nvitop = "==1.3.2"
overrides = {file = "../../../../../../../../croot/overrides_1699371140756/work"}
packaging = {file = "../../../../../../../../croot/packaging_1720101850331/work"}
pandas = {file = "../../../../../../../../croot/pandas_1718308974269/work/dist/pandas-2.2.2-cp311-cp311-linux_x86_64.whl"}
pandocfilters = {file = "../../../../../../../../opt/conda/conda-bld/pandocfilters_1643405455980/work"}
parso = {file = "../../../../../../../../opt/conda/conda-bld/parso_1641458642106/work"}
pexpect = {file = "../../../../../../../../tmp/build/80754af9/pexpect_1605563209008/work"}
pillow = {file = "../../../../../../../../croot/pillow_1721059439630/work"}
platformdirs = {file = "../../../../../../../../croot/platformdirs_1692205439124/work"}
plotly = {file = "../../../../../../../../croot/plotly_1718136942809/work"}
pluggy = {file = "../../../../../../../../work/ci_py311/pluggy_1676822818071/work"}
proglog = "==0.1.10"
prometheus-client = {file = "../../../../../../../../work/ci_py311_2/prometheus_client_1679340520168/work"}
prompt-toolkit = {file = "../../../../../../../../croot/prompt-toolkit_1704404351921/work"}
protobuf = "==5.27.2"
psutil = {file = "../../../../../../../../work/ci_py311_2/psutil_1679337388738/work"}
ptyprocess = {file = "../../../../../../../../tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl"}
pure-eval = {file = "../../../../../../../../opt/conda/conda-bld/pure_eval_1646925070566/work"}
pyarrow = "==17.0.0"
pycosat = {file = "../../../../../../../../croot/pycosat_1714510623388/work"}
pycparser = {file = "../../../../../../../../tmp/build/80754af9/pycparser_1636541352034/work"}
pydantic = "==2.8.2"
pydantic-core = "==2.20.1"
pydeck = "==0.9.1"
pydub = "==0.25.1"
pygments = "==2.18.0"
pyjokes = "==0.8.3"
pyopenssl = {file = "../../../../../../../../croot/pyopenssl_1708380408460/work"}
pyparsing = {file = "../../../../../../../../work/ci_py311/pyparsing_1677811559502/work"}
pyreqwest-impersonate = "==0.5.3"
pysocks = {file = "../../../../../../../../work/ci_py311/pysocks_1676822712504/work"}
python-dateutil = "==2.9.0.post0"
python-json-logger = {file = "../../../../../../../../croot/python-json-logger_1683823803357/work"}
python-levenshtein = "==0.25.1"
pytube = "==15.0.0"
pytz = {file = "../../../../../../../../croot/pytz_1713974312559/work"}
pyyaml = {file = "../../../../../../../../croot/pyyaml_1698096049011/work"}
pyzmq = {file = "../../../../../../../../croot/pyzmq_1705605076900/work"}
rapidfuzz = "==3.9.4"
referencing = "==0.35.1"
requests = {file = "../../../../../../../../croot/requests_1721410876868/work"}
rfc3339-validator = {file = "../../../../../../../../croot/rfc3339-validator_1683077044675/work"}
rfc3986-validator = {file = "../../../../../../../../croot/rfc3986-validator_1683058983515/work"}
rich = "==13.7.1"
rpds-py = "==0.19.1"
"ruamel.yaml" = {file = "../../../../../../../../work/ci_py311/ruamel.yaml_1676838772170/work"}
"ruamel.yaml.clib" = {file = "../../../../../../../../work/ci_py311/ruamel.yaml.clib_1676828787769/work"}
scikit-learn = {file = "../../../../../../../../croot/scikit-learn_1714164736727/work"}
scipy = {file = "../../../../../../../../croot/scipy_1717521478074/work/dist/scipy-1.13.1-cp311-cp311-linux_x86_64.whl"}
send2trash = {file = "../../../../../../../../croot/send2trash_1699371139552/work"}
serpapi = "==0.1.5"
six = {file = "../../../../../../../../tmp/build/80754af9/six_1644875935023/work"}
smmap = "==5.0.1"
sniffio = "==1.3.1"
soupsieve = {file = "../../../../../../../../croot/soupsieve_1696347547217/work"}
stack-data = {file = "../../../../../../../../opt/conda/conda-bld/stack_data_1646927590127/work"}
streamlit = "==1.37.0"
streamlit-audiorec = "==0.1.3"
tenacity = "==8.5.0"
termcolor = "==2.4.0"
terminado = {file = "../../../../../../../../work/ci_py311/terminado_1677696151350/work"}
threadpoolctl = {file = "../../../../../../../../Users/ktietz/demo/mc3/conda-bld/threadpoolctl_1629802263681/work"}
tinycss2 = {file = "../../../../../../../../work/ci_py311/tinycss2_1676823757641/work"}
toml = "==0.10.2"
tomli = {file = "../../../../../../../../work/ci_py311/tomli_1676822660974/work"}
toolz = "==0.12.1"
tornado = {file = "../../../../../../../../croot/tornado_1718740109488/work"}
tqdm = {file = "../../../../../../../../croot/tqdm_1716395931952/work"}
traitlets = {file = "../../../../../../../../croot/traitlets_1718227057033/work"}
triton = {file = "../../../../../../../../opt/conda/envs/bld/conda-bld/torchtriton_1721056825793/work/python"}
truststore = {file = "../../../../../../../../croot/truststore_1695244293384/work"}
typing-extensions = "==4.12.2"
tzdata = "==2024.1"
unicodedata2 = {file = "../../../../../../../../croot/unicodedata2_1713212950228/work"}
urllib3 = {file = "../../../../../../../../croot/urllib3_1718912636303/work"}
watchdog = "==4.0.1"
wcwidth = {file = "../../../../../../../../Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work"}
webencodings = "==0.5.1"
websocket-client = {file = "../../../../../../../../croot/websocket-client_1715878298792/work"}
websockets = "==13.0.1"
yarl = "==1.9.4"
youtube-transcript-api = "==0.6.2"
zipp = {file = "../../../../../../../../croot/zipp_1704206909481/work"}
zstandard = {file = "../../../../../../../../croot/zstandard_1714677652653/work"}

[dev-packages]

[requires]
python_version = "3.11"
